<h2 class="title text-center"><u>Booking</u></h2>
<div class="container topBody mt-3 border ">
    <div class="allCart">
        <div class="cart1">
            <h5>Depature city</h5>
            <h5 class="text-warning">Casablanca</h5>
        </div>
        <hr>
        <div class="cart1">
            <h5>Airport</h5>
            <h5 class="text-warning">Mohammed 5</h5>
        </div>
        <hr>
        <div class="cart1">
            <h5>Departure date</h5>
            <h5 class="text-warning">02-13-2021</h5>
        </div>
        <hr>
        <div class="cart1">
            <h5>Depature time</h5>
            <h5 class="text-warning">23h00</h5>
        </div>
        <hr>
        <div class="cart1">
            <h5>arrival city</h5>
            <h5 class="text-warning">Dakhla</h5>
        </div>
        <hr>
        <div class="cart1">
            <h5>arrival time</h5>
            <h5 class="text-warning">00h30</h5>
        </div>
        <hr>
        <div class="cart1">
            <h5>Proceed</h5>
            <a type="submit" class="btn btn-primary" href="/cart">Add to cart</a>
        </div>
    </div>
</div>